body {
  margin: 0;
  font-family: dropify, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- Spinner --- */
.spinner-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.h_2{
  width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #ccc; 
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.h_2 span{
  background:#fff; 
  padding:0 10px; 
}

.how_we{
  margin: 120px 140px 20px;
    border-radius: 8px;
    border: 1px solid #dedddd;
    position: relative;
}

.how_we h2 {
  position: absolute;
  padding: 10px 0;
  text-align: center;
  background: #F7F6F6;
  color: #d0181e;
  font-size: 20px;
  top: -20px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  font-weight: 600;
}

.how_we  ul {
  text-align: center;
  margin: 20px 0;
}

.how_we ul li {
  display: inline-block;
  vertical-align: middle;
  font-size: 17px;
  color: #4a4a4a;
  padding: 0 59px;
  border-right: 1px solid #dedddd;
  line-height: 1.4;
  text-align: center;
  text-transform: capitalize;
}

.how_we ul li:last-of-type {
  border-right: none;
}

.jumbotron {
  padding: 3rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.border-r{
  border-radius: 20px !important;
}
.our_usp {
  font-family: sans-serif;
  margin: 40px auto;
  color: #228B22;
  text-align: center;
  font-size: 30px;
  max-width: 400px;
  position: relative;
}

.our_usp:before {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #000;
  left: 0;
  top: 50%;
  position: absolute;
}

.our_usp:after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #000;
  right: 0;
  top: 50%;
  position: absolute;
}

.login_icon{
  width: 80px;
    height: 80px;
    border: 1px solid #fb8691;
    border-radius: 50%;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
}